@font-face {
	font-family: 'Rubik';
    font-weight: 400;
	src: url(‘./Typo/Rubik/Rubik-VariableFont_wght.ttf’) format(‘truetype’),
		url(‘./Typo/static/Rubik-Regular.ttf’) format(‘truetype’)
}
@font-face {
	font-family: 'Rubik';
    font-weight: 600;
	src: url(‘./Typo/Rubik/Rubik-VariableFont_wght.ttf’) format(‘truetype’),
		url(‘./Typo/static/Rubik-SemiBold.ttf’) format(‘truetype’)
}
@font-face {
	font-family: 'Raleway';
    font-weight: 200;
	src: url(‘./Typo/Raleway/Raleway-VariableFont_wght.ttf’) format(‘truetype’),
		url(‘./Typo/static/Raleway-Thin.ttf’) format(‘truetype’)
}
@font-face {
	font-family: 'Raleway';
    font-weight: 400;
	src: url(‘./Typo/Raleway/Raleway-VariableFont_wght.ttf’) format(‘truetype’),
		url(‘./Typo/static/Raleway-Regular.ttf’) format(‘truetype’)
}
@font-face {
	font-family: 'Federo';
	src: url(‘./Typo/Federo/Federo-Regular.ttf’) format(‘truetype’)
}
@font-face {
	font-family: 'Nanum';
    font-weight: 400;
	src: url(‘./Typo/Nanum_Brush_Script/NanumBrushScript-Regular.ttf’) format(‘truetype’)
}
@font-face {
	font-family: 'Hiro';
    font-weight: 400;
	src: url(‘./Typo/hiro_misake/HIROMISAKE.ttf’) format(‘truetype’)
}

body {
    background-color: white;
    color: black;
  }
  .d-mode {
    background-color: black;
    color: white;
  }
  .hard-mode {
    background-color: black;
    color: red;
  } */

.concertDMC{
    justify-content: center;
    color: #FB8B24;
    
}

.navbar-default{
    z-index: 1000;
    transition:2000ms ease;
    background-color: transparent;
    height: 80px;
    position: fixed !important;
        top: 0;
        left: 0;
        right: 0;
    
}
.navbar-default.scrolled{
    background:rgba(0, 0, 0, 0.51);
    z-index: 1000;
}
.defile {
    text-decoration : none;
    color: white;
}

a.defile:hover {
    text-decoration : none;
    color : white
}
.button-darkmode {
    border-radius: 10 px;
    background-color: black;
    color: white;
    
}
/* 
.navlogo {
    padding-top: 40px;
} */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
}
h2 {
    color: #FB8B24;
}
h3 {
    color : #564787;
}

.typo-japon {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 100px;
    text-shadow: 0 0 0.75rem black;
    color: white;
}
.typo-japon:hover {
    color: #FFBF81;
}

.zoom-sur {
    color: #564787;
    font-weight: bold;
}
.zoom-sur1 {
    color: #FB8B24;
    font-weight: bold;
}

.stylise {
    font-family: 'Federo';
    font-size: 100px;
    text-shadow: 0 0 0.75rem black;
    color: white;
}
.stylise:hover {
    color: #FFBF81;
}
.titre-article {
    font-family: 'Federo';
    font-size: 100px; 
    text-shadow: 0 0 0.75rem rgb(0, 0, 0) ;
}
.zoom-japon {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 200px;
}
.dropdown-item, .nav-item {
    font-family: 'Rubik', sans-serif;
}
.bi-facebook{
    text-decoration : none;
}
p {
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration : none;
    color : white
}
.reseau {
    color: white;
}

.mainlogo{
    height: 20vh;
}

.test-background {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./images/Photos/background.jpg);
    height: 100vh;
}



.test-japon {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./images/Photos/japon.jpg);
    height: 50vh;
}

.test-japon2 {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./images/Photos/japon.jpg);
    height: 100vh;
}

.test-concerts {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./images/Photos/concert.jpg);
    height: 50vh;
}

.test-concerts2 {
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(./images/Photos/concert.jpg);
    height: 50vh;
}

.test-expo {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./images/Photos/exposition.jpg);
    height: 50vh;
}

.test-spectacle {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./images/Photos/spectacle.jpg);
    height: 50vh;
}
.test-mentions{
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(./images/Photos/Mentions.jpg);
    height: 50vh;
}

.carte {
    color: #564787;
}
.carte:hover {
    color: #E2D6FF;
}
.fond {
    background-color: rgb(230, 230, 230);
}

.test-profil {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./images/Profil_client/profil.jpg);
    height: 50vh;
}

.test-agenda{
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(./images/Profil_client/agenda.jpg);
    height: 50vh;
}

.test-connexion{
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(./images/Photos/connexion.jpg);
    height: 50vh;
}

.test-activite{
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(./images/Photos/activite.jpg);
    height: 50vh;
}

.test-evenements{
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(./images/Photos/evenement.jpg);
    height: 50vh;
}

.test-contact{
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(./images/Photos/Contact.jpg);
    height: 50vh;
}

.button-reserver {
    border-radius: 20px;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: transparent; 
    color: #564787; 
    border: 2px solid #564787;
}
.button-reserver:hover {
    background-color: #564787;
    color: white;
  }

i.button-icone {
    font-size: 32px;
    color:#564787;
    cursor: pointer;
}
i.button-icone:hover {
    color:#E2D6FF;
}


.infos {
    padding-top: 30px;
}

.modify-profile {
    padding-top: 30px;
}

.events {
    padding-top: 30px;
}

.activity {
    padding-top: 30px;
}

.agenda {
    padding-top:30px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #564787;
}
.button-profil {
    color:#564787;
}
.button-profil:hover {
    color:#FB8B24;
}

.enregistrer {
    padding-top: 30px;
}

.bouton-enregistrer {
    background-color: #564787;
    border-radius: 30px;
    color:white;
    padding: 10px 20px;
}

.bouton-enregistrer:hover {
    color:#FB8B24;
}

.connexion {
    background-color: #564787;
    border-radius: 30px;
    color:white;
    padding: top 100px;
}

.quulte {
    margin: 50px;
}


.ids {
    margin: 50px;
}


.insere {
    margin: 50px;
}


.quulte:hover {
    color:#FB8B24
}

.agenda {
    align-items: center;
}

.connexion1{
    color:#FB8B24
}

.votre-agenda {
    text-align: center;
}




















/* darkmode */
.d-mode .button-darkmode {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.d-mode h2 {
    color: #564787;
}
.d-mode h3 {
    color : #FB8B24;
}
.d-mode .zoom-sur {
    color: #FB8B24;
  }
.d-mode .v {
    color: #FB8B24;
}
.d-mode .typo-japon:hover {
    color: #E2D6FF;
}
.d-mode .stylise:hover {
    color: #E2D6FF;
}
.d-mode .button-reserver {
    border-radius: 20px;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: transparent; 
    color: #FB8B24; 
    border: 2px solid #FB8B24;
}
.d-mode .button-reserver:hover {
    background-color: #FB8B24;
    color: white;
  }

.d-mode i.button-icone {
    font-size: 32px;
    color:#FB8B24;
    cursor: pointer;
}
.d-mode i.button-icone:hover {
    color:#FFBF81;
}
.d-mode .fond {
    background-color: rgb(48, 48, 48);
}
