.test {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./ZoomsurJapon/Images/Kyoto.jpg);
    height: 100vh;

}